<div id="submenu">
<ul class="submenu">
  <li><%= link_to 'Help Selecting', selecting_help_path %></li>
  <li><%= link_to 'Help Reading', reading_help_path %></li>
  <li><%= link_to 'Help Uploading', uploading_help_path %></li>
  <li><%= link_to 'Help Editing', editing_help_path %></li>
</ul>
</div>
