<h1>New Wedding</h1>

<p>Create a new wedding.  Sorry, we don't provide you with someone to
marry.  Please bring your own partner</p>

<%= error_messages_for :wedding %>

<% form_for(:wedding, :url => weddings_path, 
	    :method => :post) do |f| -%>

<%= render :partial => 'form', :locals => { :f => f } -%>
<p>
  <%= submit_tag 'Create Wedding' %>
</p>

<% end -%>
