<h1>Login</h1>

<% form_tag session_path do -%>
<label for="login">Login</label>
<%= text_field_tag 'login' %><br />

<label for="password">Password</label>
<%= password_field_tag 'password' %><br />

<%= submit_tag 'Log in' %><br />
<% end -%>

<p>Help! <%= link_to 'I forgot my password', new_password_path -%>.</p>
