<h1>Content Item Index</h1>

<% if !@contents.empty? -%>
<ul>
<% @contents.each do |c| -%>
<li>
<%= link_to "Content id #{c.id}", content_path(c) -%>
</li>
<% end -%>
</ul>
<% else %>

<p>Sorry, there are no contents currently in the system.</p>

<% end -%>
