[submodule "vendor/plugins/acts_as_list"]
	path = vendor/plugins/acts_as_list
	url = ssh://desdemona.caset.buffalo.edu/var/git/acts_as_list.git
[submodule "vendor/plugins/acts_as_annotea_server"]
	path = vendor/plugins/acts_as_annotea_server
	url = ssh://desdemona.caset.buffalo.edu/var/git/acts_as_annotea_server.git
[submodule "vendor/plugins/acts_as_versioned"]
	path = vendor/plugins/acts_as_versioned
	url = ssh://desdemona.caset.buffalo.edu/var/git/acts_as_versioned.git
[submodule "vendor/plugins/attachment_fu"]
	path = vendor/plugins/attachment_fu
	url = ssh://desdemona.caset.buffalo.edu/var/git/attachment_fu.git
[submodule "vendor/plugins/restful_authentication"]
	path = vendor/plugins/restful_authentication
	url = ssh://desdemona.caset.buffalo.edu/var/git/restful_authentication.git
[submodule "vendor/plugins/simple_http_auth"]
	path = vendor/plugins/simple_http_auth
	url = ssh://desdemona.caset.buffalo.edu/var/git/simple_http_auth.git
[submodule "vendor/plugins/acts_as_state_machine"]
	path = vendor/plugins/acts_as_state_machine
	url = ssh://desdemona.caset.buffalo.edu/var/git/acts_as_state_machine.git
[submodule "vendor/plugins/exception_notification"]
	path = vendor/plugins/exception_notification
	url = ssh://desdemona.caset.buffalo.edu/var/git/exception_notification.git
