<h1>New System Setting</h1>

<%= error_messages_for :system_setting %>

<% form_for :system_setting, :url => system_settings_path, :html => { :method => :post } do |f| -%>

  <%= render :partial => 'form', :locals => { :f => f } -%>

<%= submit_tag 'Create System Setting' %><br />
<% end -%>

<p>Click <%= link_to'here', system_settings_path -%> to go back to the system settings index without creating a new one.</p>
