<h2>Search Contents</h2>

<%= form_tag search_content_items_url, 
    :method => :get -%>

  <%= render :partial => 'form' -%>

  <p class="form">
    <%= submit_tag 'Search Contents' %>
  </p>
  
  <br />

</form>
