<h1>Group Content Items</h1>

<p>This page allows you to view current content items associated with the group "<%= @content_item_group.name -%>."</p>

<p>There are currently <%= @content_item_group.content_items.size -%> items in this content item group.  You may add a content item to this group with the form below:</p>

