<h1>Editorial Options</h1>

<p>You are able to act as an editor in the system.  You may choose options from the following menu:</p>

<ul>
  <li>
    <%= link_to 'Create new content item', new_content_item_path -%>
  </li>

  <li>
    <%= link_to 'Search for content item to edit', search_path -%>
  </li>

  <li>
    <%= link_to 'View unpublished content items', 
	unpublished_content_items_path -%>
  </li>

  <li>
    <%= link_to 'View content item groups', content_item_groups_path -%>
  </li>
</ul>
