<h1>Editorial Options</h1>

<p>You are registered as an editor in the system.  You may choose options from the following menu:</p>

<ul>
  <li>
    <%= link_to 'Create new content item', new_content_item_path -%>
  </li>

  <li>
    <%= link_to 'Search for content item to edit', search_path -%>
  </li>
</ul>
