<h1>Edit Menu Item</h1>

<p>You may change details for this menu item below.</p>

<%= error_messages_for :menu_item %>

<% form_for :menu_item, :url => menu_item_path, :html => { :method => :put } do |f| -%>

  <%= render :partial => 'form', :locals => { :f => f } -%>

  <p><%= submit_tag 'Update Menu Item' %></p>
<% end -%>

<p><%= link_to 'Skip save changes and go to show menu item', menu_item_path %></p>
