<h1>New Menu Item</h1>

<%= error_messages_for :menu_item %>

<% form_for :menu_item, :url => menu_items_path, :html => { :method => :post } do |f| -%>

  <%= render :partial => 'form', :locals => { :f => f } -%>

<%= submit_tag 'Create Menu Item' %><br />
<% end -%>

<p>Click <%= link_to'here', menu_items_path -%> to go back to the menu item index without creating a new item.</p>
