body {
    margin: 0;
    padding: 30px 60px 0px 60px;
    font-family: ArialMT, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    background-color: #f5f5f5;
}

#header {
    padding: 20px;
    margin-bottom: 20px;
}

#header_options {
   position: absolute;
   margin-left: 150px;
   margin-top: 20px;
}

#header_options ul li:after {
   content: " | ";
}

#header_options ul li.last:after {
   content: "";
}

#header_options li {
    display: inline;
    font-size: 1.3em;
    padding: 4px;
}

#header_options a {
    text-decoration: none;
}

#header_options a:link {
    color: #000000;
}

#header_options a:visited {
    color: #000000;
}

#mainlogo {
    margin-bottom: 60px;
}

#mainlogo img {
    border: 0;
    float: left;
    /*    margin: 0px 0px 5px 30px; */
    background-color: #f5f5f5;
}

#mainlogo a:link {
    color: #000000;
    text-decoration: none
}

#mainlogo a:visited {
    text-decoration: none;
    color: #000000;
}

#main-navigation {
    font-size: 1.2em;
}

#main-navigation li {
    width: 140px;
    text-align: center;
}

#main-navigation a {
    color: #000;
    background: #afb1b4 url("/images/menu_tab_left_inactive.gif") left top no-repeat;
    text-decoration: none;
    padding-left: 10px;
}

#main-navigation a span {
    background: #afb1b4 url("/images/menu_tab_right_inactive.gif") right top no-repeat;
    padding-right: 10px;
}

#main-navigation a, #main-navigation a span {
    display: block;
    float: left;
}

/* Commented backslash hack hides rule from IE5-Mac \*/
#main-navigation a, #main-navigation a span {
    float: none
}
/* End IE5-Mac hack */

#submenu {
    padding-top: 2px;
}

#submenu ul {
    padding-left: 0px;
}

#submenu li {
    display: inline;
    padding: 5px;
    font-size: 1.2em;
}

#submenu a:visited {
    color: #000000;
    text-decoration: none
}

#submenu a:link {
    text-decoration: none;
    color: #000000;
}


#headernav {
    clear: both;
    padding: 0 0 26px 0em;
    margin: 0;
    list-style: none;
    line-height: 1.74em;
}

#headernav li {
    float:left;
    display: block;
    margin:0;
    padding: 0px 2px 0px 2px;
}

#headernav a.curpage {
    background: #444444 url("/images/menu_tab_left_active.gif") left top no-repeat;
    color: #ffffff;
}

#headernav a.curpage span {
    background: #444444 url("/images/menu_tab_right_active.gif") right top no-repeat;
}

#headernav a:hover {
    background: #444444 url("/images/menu_tab_left_active.gif") left top no-repeat;
    color: #ffffff;
}

#headernav a:hover span {
    background: #444444 url("/images/menu_tab_right_active.gif") right top no-repeat;
}

#mainContent {
    border: 2px solid #CCC;
    padding: 0px 20px 20px 20px;
    background-color: #ffffff;
}

#locationPath {
    background-color: #d7a7a7;
    padding: 5px;
}

textarea.tei_data {
    width: 90%;
}

ul.thumbnailImages li {
    display: inline;
    padding: 20px;
    line-height: 80px;
}

#errorBox {
    width: 400px;
    border: 2px solid #760404;
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#noticeBox {
    width: 400px;
    border: 2px solid #003f0d;
    color: #003f0d;
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #f0f0f0;
}

.fieldWithErrors {
  /* padding: 2px; */
  color: #760404;
  /* display: table; */
}

#footerText {
    font-size: .8em;
}

#errorExplanation {
    background-color: #f5f5f5;
    padding: 4px;
    margin-bottom: 5px;
}

/* BEGIN css for form layout */
label,input {
	display: block;
	/* allow variable width:  width: 200px; */
	float: left;
	margin-bottom: 10px;
}

label {
    text-align: left;
    width: 150px;
    padding-right: 20px;
 }

p.form {
    padding-top: 10px;
}

p.form label {
    width: 600px;
}

br {
    clear: left;
}
/* END css for form layout */

#content_item_footer {
    border: 1px dashed #CCC;
    margin-top: 20px;
    font-size: .95em;
    padding: 5px;
    height: 1.75em;
    color: #444444;
}

#content_item_footer a:link {
    text-decoration: none;
    color: #444444;
}

#content_item_footer a:visited {
    text-decoration: none;
    color: #444444;
}

#content_item_left_box {
    float: left;
    width: 350px;
}

#content_item_right_box {
    float: right;
    width: 100px;
    text-align: right;
}

#gloss_search_box {
    float: left;
    width: 250px;
}

#gloss_search_box label {
    width: 100px;
    padding: 0px;
    color: #444444;
    font-size: .95em;
}

#gloss_search_box input {
    float: left;
    width: 100px;
}


/* For document markup mode, makes new litglosses stand out. */
a.newlitgloss {
    color: red;
}

/* Links using overlib */
a.litgloss, a.litgloss:visited {
    color: #000000;
}

#infomessage {
    background-color: #d2a3a3;
    border-style: solid;
    padding: 10px;
}

