body {
    margin: 0;
    padding: 30px 60px 0px 60px;
    font-family: ArialMT, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    background-color: #f5f5f5;
}

#mainlogo img {
    border: 0;
    padding: 0px 0px 5px 30px;
    background-color: #f5f5f5;
}

#mainlogo a:link {
    color: #000000;
    text-decoration: none
}

#mainlogo a:visited {
    text-decoration: none;
    color: #000000;
}

#main-navigation {
    font-size: 1.2em;
}

#main-navigation a {
    color: #000;
    background: #afb1b4 url("/images/menu_tab_left_inactive.gif") left top no-repeat;
    text-decoration: none;
    padding-left: 10px;
}

#main-navigation a span {
    background: #afb1b4 url("/images/menu_tab_right_inactive.gif") right top no-repeat;
    padding-right: 10px;
}

#main-navigation a, #main-navigation a span {
    display: block;
    float: left;
}

/* Commented backslash hack hides rule from IE5-Mac \*/
#main-navigation a, #main-navigation a span {
    float: none
}
/* End IE5-Mac hack */

#submenu {
    border-width: 1px;
    border-color: solid;
    padding: 10px 5px 15px 0px;
}

ul.submenu{
    position: absolute;
    margin: 0px;
}

ul.submenu li {
    display: inline;
    line-height: 5px;
    padding: 5px;
}

#headernav {
    padding: 0 0 14px 0em;
    margin: 0;
    list-style: none;
    line-height: 1em;
}

#headernav li {
    float:left;
    display: block;
    margin:0;
    padding: 0px 2px 0px 2px;
}

#headernav a.curpage {
    background: #444444 url("/images/menu_tab_left_active.gif") left top no-repeat;
    color: #ffffff;
}

#headernav a.curpage span {
    background: #444444 url("/images/menu_tab_right_active.gif") right top no-repeat;
}

#headernav a:hover {
    background: #444444 url("/images/menu_tab_left_active.gif") left top no-repeat;
    color: #ffffff;
}

#headernav a:hover span {
    background: #444444 url("/images/menu_tab_right_active.gif") right top no-repeat;
}

#mainContent {
    border: 2px solid #CCC;
    padding: 0px 20px 20px 20px;
    background-color: #ffffff;
}

#locationPath {
    background-color: #d7a7a7;
    padding: 5px;
}

textarea.tei_data {
    width: 90%;
}

ul.thumbnailImages li {
    display: inline;
    padding: 20px;
    line-height: 80px;
}

#errorBox {
    width: 400px;
    border: 2px solid #760404;
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#noticeBox {
    width: 400px;
    border: 2px solid #003f0d;
    color: #003f0d;
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #f0f0f0;
}

.fieldWithErrors {
  padding: 2px;
  background-color: #760404;
  display: table;
}

#footerText {
    font-size: .8em;
}
