<h2>Administrative Options</h2>

<p>You are an administrator in this system.  Below are options which are enabled because of your access level.</p>

<ul>
  <li><%= link_to 'Manage users', users_path -%></li>
  <li><%= link_to 'Manage system content item groups', 
	  content_item_groups_path(:type => :system) -%></li>
  <li><%= link_to 'Manage system settings', system_settings_path -%></li>
  <li><%= link_to 'View system content items', system_content_items_path -%></li>
</ul>
