<h2>Administrative Options</h2>

<p>You are an administrator in this system.  Below are options which are enabled because of your access level.</p>

<ul>
  <li><%= link_to 'Manage users', users_path -%></li>
  <li>Manage System Menu</li>
  <li><%= link_to 'Manage System Settings', system_settings_path -%></li>
</ul>
