<h1>Welcome to TeiRails</h1>

<p>Welcome to TeiRails.  Link to introduction to system.</p>

<p><%= link_to 'List content items', contents_path %></p>

<% if logged_in? -%>

  <% if !current_user.contents.empty? -%>
    <p>You have some contents.</p>
  <% end -%>

  <p><%= link_to 'Create some contents?', new_content_path -%></p>

<% end -%>
