<h1>Content Items by Author</h1>

<p>There are <%= @content_item_ary.size -%> items matching your search criteria.</p>

<% @content_item_ary.each do |ci_lang_group| -%>
  <h2><%= ci_lang_group[0] -%></h2>
  

  <ul>
  <% ci_lang_group[1].each do |ci| -%>
    <li><%= link_to get_title(ci), content_item_path(ci) -%></li>
  <% end -%>
  </ul>

<% end -%>
