<h1>Content Items by Language</h1>


<% @content_item_ary.each do |ci_lang_group| -%>
  <h2><%= ci_lang_group[0] -%></h2>
  

  <ul>
  <% ci_lang_group[1].each do |ci| -%>
    <li><%= link_to ci.title, content_item_path(ci) -%> by <%= get_authors(ci) -%></li>
  <% end -%>
  </ul>

<% end -%>
