<h2>Content Item Index</h2>

<% if !@content_items.empty? -%>
<ul>
<% @content_items.each do |c| -%>
  <li>
    <%= link_to "Content item id #{c.id}", content_item_path(c) -%> 

    <% if logged_in? -%>
      (<%= link_to "Edit", edit_content_item_path(c) %>)
    <% end -%>

  </li>
<% end -%>
</ul>
<% else %>

<p>Sorry, there are no content items currently in the system.</p>

<% end -%>
