<h1><%= @title -%></h1>

<p>There are <%= @content_items.size -%> content items matching your search criteria.</p>

<% if !@content_items.empty? -%>
<ol>
<% @content_items.each do |c| -%>
  <li>
    <%= link_to "Content item id #{c.id}", content_item_path(c) -%> 

    <%= get_valid_item_links(c) -%>

  </li>
<% end -%>
</ol>
<% end -%>
