<h1>Create new content item</h1>

<%= error_messages_for :content_item %>

<% form_for :content_item, :url => content_items_path do |f| -%>

  <%= render :partial => 'form', :locals => { :f => f } -%>

  <p><%= submit_tag 'Create Content Item' %></p>
<% end -%>
