<h1>New Content Item Group</h1>

<%= error_messages_for :content_item_group %>

<% form_for :content_item_group, :url => content_item_groups_path, :html => { :method => :post } do |f| -%>

  <%= render :partial => 'form', :locals => { :f => f } -%>

<%= submit_tag 'Create Content Item Group' %><br />

<% end -%>

<p>Click <%= link_to 'here', content_item_groups_path -%> to go back to the index of content item groups.
