<p class="form">
  <%= f.label :explanation, "Explanation" -%>
</p>

<%= f.hidden_field :term, :value => params[:term] -%>
<%= f.hidden_field :count, :value => params[:count] -%>

<%= f.text_area :explanation, :cols => 80, :rows => 4 %>
