<h1>Litglosses</h1>

<p>
  There are <%= @litglosses.size -%> litglosses for this
  content item.
</p>

<% if !@litglosses.empty? -%>
  <ul>
    <% @litglosses.each do |l| -%>
      <li>
	<%= link_to l.term, content_item_litgloss_path(@content_item, l) -%> => <%= l.explanation -%>
	<% if l.content_item_id != @content_item.id -%>
	  (attached to parent)
	<% else -%>
	  (attached to self)
	<% end -%>
      </li>
    <% end -%>
  </ul>
<% end -%>

<%= link_to "Back to content item", content_item_path(@content_item) -%>
