<p>Image name:</p>
<p>
  <%= f.text_field :title %>
</p>

<p>Image description:</p>
<p>
  <%= f.text_area :description %>
</p>

<%= f.hidden_field :imageable_type, :value => @imageable_type -%>
<%= f.hidden_field :imageable_id, :value => @imageable_id -%>
