<h1>Upload an Image</h1>

<%= error_messages_for :image %>

<% form_for(:image, :url => images_path, :method => :put,
            :html => { :multipart => true }) do |f| -%>


  <%= render :partial => 'form', :locals => { :f => f } -%>

  <p>
    <%= submit_tag 'Create' %>
  </p>

  <br />
<% end -%>
