<h1>Upload a Image</h1>

<%= error_messages_for :image %>

<% form_for(:image, :url => images_path, :method => :put,
            :html => { :multipart => true }) do |f| -%>

  <p>
    <label for="image">Upload An Image:</label>
  </p>

  <p>
    <%= f.file_field :uploaded_data %>
  </p>

  <%= render :partial => 'form', :locals => { :f => f } -%>

  <p>
    <%= submit_tag 'Create' %>
  </p>

<% end -%>
