<% if @message -%>
  <div id="infomessage">
    <%= @message -%>
  </div>
<% end -%>

<% if flash[:error] -%>
  <div id="errorBox">
    <p>
      <%= flash[:error] -%>
    </p>
  </div>
<% end -%>

<% if flash[:notice] -%>
  <div id="noticeBox">
    <p>
      <%= flash[:notice] -%>
    </p>
  </div>
<% end -%>
