<!-- If we're on MS/IE, bring in the additional style sheet. -->
<%= include_ie_stylesheet_if_necessary -%>

<div id="wrapper">
  <div id="header">
    <%= render_partial "layouts/main_logo" %>
  
    <%= render_partial "layouts/header_options" -%>
  </div>
