<div id="main-navigation">
  <ul id="headernav">

    <%= generate_system_menu_items -%>

    <li>
      <%= make_menu_link(:content_items, :content_items_path, SystemSetting.get("content_item_tab_name") ) %></li>
    
    <% if logged_in? %>
      <% if current_user.can_act_as?("editor") -%>
	<li>
	  <%= make_menu_link(:editorial_options, 
			     :editorial_options_path, 
			     'Editorial Options') -%>
	</li>
      <% end -%>


    <% end %>

    <li><%= make_menu_link(:search, :search_path, 'Search') %></li>

  </ul>
</div>
