<div id="main-navigation">

<ul id="headernav">
  <li><%= make_menu_link(:contents, :contents_path, 'Contents') %></li>
  <li><%= make_menu_link(:annotations, :annotations_path, 'Annotations') %></li>
  <li><%= make_menu_link(:search, :search_path, 'Search') %></li>
  <% if logged_in? %>
     <li><%= make_menu_link(:my_litgloss, :my_litgloss_path, 'My Litgloss') %></li>
  <% end %>
</ul>
</div>
